<div class="profile-page" *ngIf="ProfileInfo && articles">
  <div class="user-info">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ProfileInfo['image']}}" class="user-img" />
          <h4>{{ProfileInfo.username}}</h4>
          <p>
            {{ProfileInfo.bio}}
          </p>
          <button class="btn btn-sm btn-outline-secondary action-btn"
            (click)="handleFollow(ProfileInfo.username,ProfileInfo.following)" *ngIf="!isYourprofile">
            + {{ProfileInfo.following?'Unfollow':'Follow'}} {{ProfileInfo.username}}

          </button>
          <button class="btn btn-sm btn-outline-secondary action-btn" [routerLink]="['/setting']"
            routerLinkActive="router-link-active" *ngIf="isYourprofile">
            <i class="ion-gear-a"></i> Edit Profile Settings
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link active" [class.active]="currentTab=='ArticlesTab'" (click)="myArticles()">My
                Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="currentTab=='FavoriteTab'" (click)="favoriteArticle()">Favorited
                Articles</a>
            </li>
          </ul>
        </div>
       

        <app-show-list-article [articles]="articles"></app-show-list-article>

        <app-pagination *ngIf="totalPage>1" [totalPage]="totalPage" [ArticlePerPage]="articlePerPage"
          (getOffset)="getOffset($event)">
        </app-pagination>

      </div>

    </div>
  </div>

</div>