<nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/" >conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <a class="nav-link active" routerLink="/" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLogged">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active" >
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>
        <li class="nav-item" *ngIf="auth.isLogged">
          <a class="nav-link" routerLink="/setting" routerLinkActive="active" >
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLogged">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Sign in</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isLogged" >
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign up</a>
        </li>
        <li class="nav-item" *ngIf="auth.isLogged" >
          <a class="nav-link ng-binding " routerLink="users/{{username}}" routerLinkActive="active" >
          <img class="user-pic" [src]="img" alt="">
            {{username}}</a>
        </li>
        <!-- <li class="nav-item" *ngIf="auth.isLogged" >
          <a class="nav-link" (click)="logout()">Log Out</a>
        </li> -->
      </ul>
    </div>
  </nav>