<div class="article-page" *ngIf="ArticleDetail">

  <div class="banner">
    <div class="container">

      <h1>{{ArticleDetail?.title}}</h1>

      <div class="article-meta">
        <a [routerLink]="['/users',ArticleDetail?ArticleDetail.author.username:'']"><img [src]="ArticleDetail?.author.image" /></a>
        <div class="info">
          <a [routerLink]="['/users',ArticleDetail?ArticleDetail.author.username:'']"
            routerLinkActive="router-link-active" class="author">{{ArticleDetail?.author.username}}</a>
          <span class="date">{{ArticleDetail?.updatedAt|date:'longDate'}}</span>
        </div>
        <app-follow [ArticleDetail]="ArticleDetail"></app-follow>


      </div>

    </div>
  </div>

  <div class="container page">

    <div class="row article-content">
      <div class="col-md-12">

        <p>{{ArticleDetail?.body}}</p>

      </div>
    </div>
    <div class="tag-list">
      <div class="tag-default tag-pill tag-outline ng-binding ng-scope" *ngFor="let tag of ArticleDetail?.tagList">
        {{tag}}

      </div>

    </div>
    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a [routerLink]="['/users',ArticleDetail?ArticleDetail.author.username:'']"><img [src]="ArticleDetail?.author.image" /></a>
        <div class="info">
          <a  class="author">{{ArticleDetail?.author.username}}</a>
          <span class="date">{{ArticleDetail?.updatedAt|date:'longDate'}}</span>
        </div>
        <app-follow [ArticleDetail]="ArticleDetail"></app-follow>

      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-8 offset-md-2">

        <form class="card comment-form" *ngIf="auth.isLogged">
          <div class="card-block">
            <textarea class="form-control" (keyup)="getCommentValue($event)" [value]="commentAdd"
              placeholder="Write a comment..." rows="3" required></textarea>
          </div>
          <div class="card-footer">
            <img [src]="currrentUser?.image" class="comment-author-img" />
            <button class="btn btn-sm btn-primary" (click)="addComment()" [disabled]="commentAdd.length==0">
              Post Comment
            </button>
          </div>
        </form>

        <div class="card" *ngFor="let singleComment of listComment;let i = index">
          <div class="card-block">
            <p class="card-text">{{singleComment.body}}</p>
          </div>
          <div class="card-footer">
            <a  class="comment-author">
              <img [src]="singleComment.author.image" class="comment-author-img" />
            </a>
            &nbsp;
            <a [routerLink]="['/users',singleComment.author.username]" routerLinkActive="router-link-active"
              class="comment-author">{{singleComment.author.username}}</a>
            <span class="date-posted">{{singleComment.createdAt|date:'fullDate'}}</span>
            <span class="mod-options" *ngIf="singleComment.author.username==currrentUser?.username">
              <i (click)="deleteComment(singleComment.id,i)" class="ion-trash-a"></i>
            </span>

          </div>
        </div>


      </div>

    </div>

  </div>

</div>